<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/index">Python测试系统</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        {% if not username  %}

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login">登录</a></li>
                <li><a href="/register">注册</a></li>
            </ul>
        {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">用户名：{{ username }}</a></li>
                <li><a href="/logout">注销</a></li>
            </ul>
        {% endif %}
    </div><!--/.navbar-collapse -->
  </div>
</nav>